<div class="callout large primary">
  <div class="text-center">
    <h1>Report</h1>
  </div>
</div>

<article class="grid-container">
    <div class="grid-x text-center" id="content">

      <div class="cell">
        <p id="notice"><%= notice %></p>

        <% @books.each do |book| %>
          <div class="blog-post">
            <h3>
              <%= link_to book.title, book %>&nbsp;
              <small><%= book.release_date %></small>
            </h3>
          </div>
        <% end %>
      </div><!-- /.medium-8.cell -->

    </div><!-- /#content -->
</article>
